@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #App {
        font-family: Inter, sans-serif;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .AddRulesetClass {
        @apply bg-purple-900
    }
    .ButtonClass {
        @apply cursor-pointer p-0 uppercase rounded-md text-white hover:opacity-75 duration-700
    }
    .ButtonIconClass {
        @apply rounded text-white bg-slate-700 duration-200 cursor-pointer
        hover:text-slate-900 hover:bg-transparent disabled:cursor-not-allowed
    }
    .InputClass {
        @apply appearance-none h-fit
         block bg-gray-50 text-gray-700 border border-gray-200 rounded
        py-3 px-5 w-[15rem] focus:outline-none mx-1
        focus:bg-white focus:border-purple-500
    }
    .LabelClass {
        @apply relative uppercase tracking-wide text-gray-700 font-bold my-2 text-sm
    }
    .PricingLabel {
        @apply text-sm
    }
}